@use '@styles/global' as g;

.header {
  @include g.flex-row;  
  @include g.set-size(100vw, 10vh);
  @include g.wrapper-shadow;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  z-index: 2;
  &__logo {
    @include g.img-center("@img/logo.png");
    @include g.set-size(10vw, 10vh);
    cursor: pointer;
  }
  &__search-bar {
    @include g.set-size(10vw, 10vh);
    @include g.flex-center;
    background-color: #dddddd;
  }
  &__account-menu {
    @include g.img-center("@img/account-menu.png");
    @include g.margin-center(10vw, 10vh, 5vw, 5vh);
    @include g.wrapper-round(0.1em, 10vw);
    cursor: pointer;
    &:hover {
      @include g.wrapper-shadow;
    }
  }
}
